*,*::before, *::after{
  box-sizing:border-box;
  margin:0;
  padding:0;
}
*{
  -ms-overflow-style: none;
  scrollbar-width: none;
}
*::-webkit-scrollbar {
  display: none;
}
body{
  display:grid;
  justify-content:center;
  align-items:center;
  min-height: 100vh;

}
.con{
  width:400px;
  height:600px;
  background-color:cyan;
  display:grid;
  justify-content:center;
  align-content:center;
  grid-template-columns:repeat(4,25%);
  grid-template-rows:minmax(40%,auto) repeat(5,12%)
}
@media screen and (max-width:480px){
  .con{
    width:100vw;
    height:100vh;
  }
}
.con > button{
  cursor:pointer;
  font-size:1.5em;
  border:0px;
  color:black;
  outline:none;
  opacity:.7;
}
@media (hover:hover) {
  .con > button:hover{
    opacity:1;
    background-color:white;
  }
}
.con > button:active{
  box-shadow: 0 0 20px  rgba(0, 0, 0, 0.7)
  }
.col-2{
  grid-column: span 2;
}
.output{
  grid-column: 1/ -1;
  background-color:black;
  opacity:0.7;
  display:flex;
  align-items:flex-end;
  flex-direction:column;
  justify-content: space-between;
  padding:3%;
  word-wrap:break-word;
  word-break:break-all;
}
.t-s{
  font-size:2.5em;
  color:grey;
  overflow: auto;
}
.r-s{
  font-size:3.5em;
  overflow: auto;
  color:white;
}
@media screen and (max-width:480px){
  .t-s{
    font-size:1.5em;
  }
  .r-s{
    font-size:2em;

  }
}
